<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<display-name>Template</display-name>
	<description>
      An empty project to use as a template for your own ones
    </description>

	<!-- Context attributes to be used throughout the application
	<context-param>
		<param-name>dao</param-name>
		<param-value>IDENTIFICATIVO_DELL_IMPLEMENTAZIONE</param-value>
	</context-param>
	<context-param>
		<param-name>firstPageAfterLogin</param-name>
		<param-value>/example.jsp</param-value>
	</context-param>  -->

	<!-- Welcome pages -->
	<!-- Tomcat "tenta" in automatico le index.html e index.jsp -->

	<welcome-file-list>
		<welcome-file>visualizzazioneProdottiController</welcome-file>
	</welcome-file-list>

	<!-- Handle exceptions and errors -->

	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>

	<!-- Define servlets that are included in the application -->

	<servlet>
		<servlet-name>CarrelloController</servlet-name>
		<servlet-class>gestioneCliente.CarrelloController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarrelloController</servlet-name>
		<url-pattern>/carrelloController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VisualizzazioneProdottiController</servlet-name>
		<servlet-class>gestioneCliente.VisualizzazioneProdottiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisualizzazioneProdottiController</servlet-name>
		<url-pattern>/visualizzazioneProdottiController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrdineController</servlet-name>
		<servlet-class>gestioneCliente.OrdineController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrdineController</servlet-name>
		<url-pattern>/ordineController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StoricoOrdiniController</servlet-name>
		<servlet-class>gestioneCliente.StoricoOrdiniController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoricoOrdiniController</servlet-name>
		<url-pattern>/storicoOrdiniController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GestioneOrdiniController</servlet-name>
		<servlet-class>gestioneMagazzino.GestioneOrdiniController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GestioneOrdiniController</servlet-name>
		<url-pattern>/gestioneOrdiniController</url-pattern>
	</servlet-mapping>
	
</web-app>
